body{
    background-image: url("../images/earthMoonNASATop.png"), none, url("../images/earthMoonNASABottom.png");    
    background-position: right top, center, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 30%, cover, contain;
    background-color: #000000;
    color: #FFFFFF; 
    font-family: 'Ubuntu', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 5% 0% 5% 0%;
    margin: 5% 5% 25% 5%;
    border-radius: 50px;
}
.title{
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    margin: 2% 0% 2% 0%;
    border-radius: 50px;
    text-align: center;
}
.photoBox{
    width: 55vw;
    height: 105vh;
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    margin: 2%;
    border-radius: 50px;
    margin: 2% auto 2% auto;
}
.photoBox__photo{
    background-image: url("../images/astronautMaeJemison.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #D9D9D9;
    border-radius: 50px;
    width: 50vw;
    height: 100vh;
    margin: auto;
}
.photoBox__legend{
    text-align: center;
}
.chronology{
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    margin:  2% 0% 2% 0%;
    border-radius: 50px;
}
.chronology__list{
    list-style-type: none;
    text-align: justify;
    line-height: 1.6;
}
.chronology__list__item__space:nth-child(1){
        list-style-position: inside;
        display: inline-block;
        width: 20%;
}
.flexLink{
    display: inline-flex;
}
.twitterLink{
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    margin:  2% 1% 2% 0%;
    border-radius: 50px 0px 0px 50px;
    flex: auto;
    text-align: center;
}
.websiteLink{
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    margin:  2% 0% 2% 0%;
    flex: auto;
    text-align: center;
}
.wikiLink{
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    margin:  2% 0% 2% 1%;
    border-radius: 0px 50px 50px 0px;
    flex: auto;
    text-align: center;
}